<form action="your-action" (submit)="onFormSubmit($event)" visible = "true">
    <dx-form id="form"
        [readOnly]="false"
        [showColonAfterLabel]="true"
        [showValidationSummary]="true"
        validationGroup="customerData"
        labelLocation="top"
        [width] = "1000">

        <dxi-item>
            <dx-data-grid [dataSource]="project" keyExpr="ID">
                <dxo-editing 
                  mode="batch"
                  [allowUpdating]="true"
                  [allowDeleting]="true"
                  [allowAdding]="true"
                 >
                </dxo-editing>
                <dxi-column dataField="ProjectName">
                  <dxi-validation-rule 
                    type="required"
                    message="ProjectName Name is required">
                  </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="Owner's Rep.">
                  <dxi-validation-rule 
                    type="required"
                    message="Owner's Rep. is required">
                  </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="Phone Number" [editorOptions]="{ 
                  mask: '(000) 000-0000',
                  
                  useMaskedValue: true,
                  maskInvalidMessage: 'The phone must have a correct USA phone format'
                  }">
                    <dxi-validation-rule 
                    type="pattern">
                  </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="Architect's Phone Number" [editorOptions]="{ 
                  mask: '(000) 000-0000',
                  
                  useMaskedValue: true,
                  maskInvalidMessage: 'The phone must have a correct USA phone format'
                  }">
                    <dxi-validation-rule 
                    type="pattern">
                  </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="Status">
                  <dxi-validation-rule 
                    type="required"
                    message="Status is required">
                  </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="Reference">
                  <dxi-validation-rule 
                    type="required"
                    message="Reference is required">
                  </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="Schedulde">
                  <dxi-validation-rule 
                    type="required"
                    message="Schedulde is required">
                  </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="Project type">
                    <dxi-validation-rule 
                      type="required"
                      message="Project type is required">
                    </dxi-validation-rule>
                  </dxi-column>


              </dx-data-grid>
        </dxi-item>

        <dxi-item>
            <div class="form-group">
                <input type="file" class="form-control-file" 
                id="exampleFormControlFile1">
            </div>
        </dxi-item>
        
    <dxi-item 
        itemType="button"
        alignment="left"
        [buttonOptions]="buttonOptions">
    </dxi-item>
        
    </dx-form>
  </form>