<form action="your-action" (submit)="onFormSubmit($event)" visible = "true">
  <dx-form id="form"
      [readOnly]="false"
      [showColonAfterLabel]="true"
      [showValidationSummary]="true"
      validationGroup="customerData"
   
      [width] = "500">
    
    <dxi-item dataField="Dated at " editorType="dxDateBox" [editorOptions]="{value:now, type:date}">
    </dxi-item>

    <dxi-item dataField="Orginization Name" editorType="dxTextBox"></dxi-item>

    <dxi-item dataField="Street">
      <dxi-validation-rule 
        type="required"
        message="Street is required">
      </dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="City">
      <dxi-validation-rule 
        type="required"
        message="City is required">
      </dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="State" editorType="dxLookup" [editorOptions]="{items:states, searchMode:'startsWith',
      showPopupTitle:'false'}">
      <dxi-validation-rule 
        type="required"
        message="State is required">
      </dxi-validation-rule>
      
    </dxi-item>

    <dxi-item dataField="Zip Code">
      <dxi-validation-rule 
        type="required"
        message="Zip Code is required">
      </dxi-validation-rule>
      <dxi-validation-rule 
          type="pattern"
          pattern = "^[0-9]+$"
          message="Zip Code can only be a numeric value">
      </dxi-validation-rule>
    </dxi-item>
      
  <dxi-item 
      itemType="button"
      alignment="left"
      [buttonOptions]="buttonOptions">
  </dxi-item>

  <dxi-item >
    <signature-pad 
    [options]="signaturePadOptions"
    (onBeginEvent)="drawStart()" 
    (onEndEvent)="drawComplete()" >
    </signature-pad>
  </dxi-item>
      <!--[options]="signaturePadOptions"(onBeginEvent)="drawStart()" 
      (onEndEvent)="drawComplete()" -->
  </dx-form>
</form>



